<html>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6bNFB6D3qWgUuRaismcPql80NknQ7NRP5oQ&s" rel="icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&display=swap" rel="stylesheet">
        
        <style> 
            p {
             
              color: red;
              position: relative;
              animation-name: example;
              animation-duration: 7s;
            }
            
            @keyframes example {
                0%   {color:rgb(241, 40, 40); left:0px; top:0px;}
  25%  {color:rgb(238, 230, 230); left:100%; top:0px;}
  50%  {color:blue; left:100%; top:0px;}
  75%  {color:green; left:0px; top:0px;}
  100% {color:red; left:0px; top:0px;}
              
            }
            </style>
    </head>
    <body style="background:radial-gradient(rgb(121, 121, 235),white);">
           <div>
            <form action="/search" method="POST" style="float: right; margin: 20px;">
              <input type="text" name="searchTerm" id="searchInput" placeholder="Search...">
              <button type="submit" id="searchButton">Search</button>
          </form>
          
          </div>
          </div>
          <br>
          <br>
          <br>
        <div>
        <h1 style="text-align: center; font-family: Protest Revolution;">Quotes</h1>
        <hr>
        <table style="margin: auto;">
            {% for item in data %}
            <tr>
                <td>
                    [{{item["owner"]}}]
                </td>
                <td>
                    {{item["text"]}}
                </td>
                <td>
                    <em>--</em>
                    <em>{{item["author"]}}</em>
                </td>
                <td>
                    [
                    <a href="/edit/{{item['_id']}}"><i class="bi bi-pencil-square"></i></a>
                    <a href="/delete/{{item['_id']}}"><i class="bi bi-trash-fill"></i></a>
                    <a href="/comments/{{item['_id']}}"><i class="bi bi-chat-dots-fill"></i></a>
                   
                    ]
                </td>
            </tr>
            {% endfor %}
        </table>
        <hr/>
        <div style="text-align: center; margin-top: 20px;">
            <button style="padding: 10px 20px; font-size: 16px; background-color: #007bff; color: #fff; border: 2px black; border-radius: 5px; cursor: pointer;font-family: poppins; box-shadow: 7px 7px black;"
                    onclick="window.location.href='/add'">
              Create a new quote!
            </button>
          </div>
        <hr />
        User = {{user}} <button style="padding: 10px 20px; font-size: 16px; background-color: #007bff; color: #fff; border: 2px black; border-radius: 5px; cursor: pointer;font-family: poppins; "> <a href="/logout" style="text-align: center;color: white;text-decoration: none;">Logout</a></button>
    </div>
    <br>
    <br>
    <br>
    <div style="background-color: rgb(206, 235, 102); width:100%;">
    <p style="size: 20px;"> To add or see comments click on the <i class="bi bi-chat-dots-fill"></i> icon  </p>
    </div>




    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const searchButton = document.getElementById("searchButton");
            const searchInput = document.getElementById("searchInput");

            searchButton.addEventListener("click", function() {
                const searchTerm = searchInput.value.trim().toLowerCase();
                const quotes = document.querySelectorAll(".quote p");

                quotes.forEach(quote => {
                    const quoteText = quote.textContent.toLowerCase();
                    if (quoteText.includes(searchTerm)) {
                        quote.classList.add("highlight");
                    } else {
                        quote.classList.remove("highlight");
                    }
                });
            });
        });
    </script>
    </body>
</html>